# You can have configuration per-environment by nesting under the
# environment key, or have a top level.

# ldap:
#   host: 'nds.berkeley.edu'
#   host: 'nds-test.berkeley.edu'
#   username: <username>
#   password: <password>
#   include_test_entries: true
#   include_test_entries: false

development:

  # Default behavior will do the right thing.  Only set if you want
  # non-standard behavior.
  # cas:
  #   host: 'auth.berkeley.edu'
  #   host: 'auth-test.berkeley.edu'

  # email:
  #   default:
  #     from: user@gmail.com
  #   default_url_options:
  #     host: example.com
  #   delivery_method: :smtp
  #   # delivery_method: :sendmail
  #   # delivery_method: :test
  #   # delivery_method: :file
  #   raise_delivery_errors: true
  #   # send_mail_settings:
  #   #   location: "/usr/sbin/sendmail"
  #   #   arguments: "-i -t"
  #   smtp_settings:
  #     address: smtp.gmail.com
  #     port: 587
  #     domain: gmail.com
  #     user_name: <username>
  #     password: <password>
  #     authentication: plain
  #     enable_starttls_auto: true
  #   subject_prefix: '[My App {env}] '

  # exception_notification:
  #   email:
  #     email_prefix: '[My App - Error {env}] '
  #     sender_address: user@example.com
  #     exception_recipients:
  #       - user1@example.com
  #       - user2@example.com

  # Default behavior will select the correct host.  No need to set anything if
  # you aren't specifying username/password.
  # ldap:
  #   host: 'nds.berkeley.edu'
  #   host: 'nds-test.berkeley.edu'
  #   username: <username>
  #   password: <password>
  #   # by default test entries returned in all but PROD
  #   include_test_entries: true
  #   include_test_entries: false
  

test:
  email:
    default:
      from: test-user@examle.com
    default_url_options:
      host: example.com
    delivery_method: :test
    raise_delivery_errors: true
    subject_prefix: '[My App {env}] '

