a.brand, span.brand {
  &.rails-development {
    background-color: gold;
    color: blue;
  }
  
  &.rails-quality_assurance {
    background-color: blue;
    color: gold;
  }
  
}

table {
  th.c, td.c {
    text-align: center;
  }
  
  th.min, td.min {
    width: 1%;
  }
  
}

#lps-modal {
  width: 750px;
  
  form {
    input[type="text"] {
      width: 140px;
      margin-right: 10px;
    }
    
    #lps-search {
      margin-left: 20px;
      margin-right: 10px;
    }
  }
  
  tr.ldap-result-exists {
    opacity: 0.5;
  }
  
}

div.control-group.lps-typeahead {
  i.ldap-person-search {
    cursor: pointer;
  }

}
