%h1 Users

%p= link_to_new_user

= ucbr_table_tag UcbRails::User, data: {url: ucb_rails_admin_users_path(format: "json")} do
  %thead
    %tr
      %th.min Admin?
      %th.min Inactive?
      %th First Name
      %th Last Name
      %th Email
      %th Phone
      %th.dt Last Request At
      %th UID
      %th.min Edit
      %th.min Delete
  %tbody.highlight
    =# render partial: 'ucb_rails/admin/users/user', collection: @users
    
= render :partial => 'ucb_rails/lps/modal'
  